MLFLOW_TRACKING_URI=
POSTGRES_HOST=
POSTGRES_PORT=6432
POSTGRES_DB=mlflow
POSTGRES_USER=mlflow
POSTGRES_PASSWORD=
POSTGRES_CONNECTION_STRING=
K8S_BALANCER=
AIRFLOW_ADMIN_PASSWORD=
S3_ENDPOINT_URL=https://storage.yandexcloud.net
S3_BUCKET_NAME=airflow-b1govg
S3_ACCESS_KEY=
S3_SECRET_KEY=
TRAINING_NUM_MONTH=
TRAINING_LAST_MONTH=
AIRFLOW_CLUSTER_ID=
