yc_config = {
  token     = ""
  cloud_id  = ""
  folder_id = ""
  zone      = "ru-central1-a"
}
yc_instance_user        = "ubuntu"
yc_instance_name        = "airflow-cluster"
yc_network_name         = "airflow-network"
yc_subnet_name          = "airflow-subnet"
yc_service_account_name = "airflow-cluster-sa"
yc_bucket_name          = "airflow-bucket"
yc_storage_endpoint_url = "https://storage.yandexcloud.net"
admin_password          = "Большая буква маленькие буквы цифры и знак -"
public_key_path         = ""
private_key_path        = ""
yc_mlflow_instance_name  = "mlflow-server"
yc_postgres_cluster_name = "postgres-cluster"
postgres_password        = "StrongPassword123!"
private_key_path         = "~/.ssh/mlops"
ubuntu_image_id          = "fd808e721rc1vt7jkd0o"
ubuntu_image_id_mlflow   = "fd80bm0rh4rkepi5ksdi"
airflow_db_conn_default  = ""
yc_clean_bucket_ak       = ""
yc_clean_bucket_sk       = ""
yc_clean_bucket_path     = "s3a://...."
yc_source_bucket         = "otus-mlops-source-data"
yc_mlflow_instance_name  = "mlflow-server"
yc_postgres_cluster_name = "postgres-cluster"
postgres_password        = "Postgres1l123!"
my_public_ip_cidr        = ""
kafka_producer_password  = ""
kafka_consumer_password  = ""
git_repo                 = ""
git_ssh_private_key      = "~/.ssh/github_deploy_dags"
k8s_balancer_ip = 
traininq_num_month = "10"
traininq_last_month = "last"